{
  "branches": [
      "main",
      { "name": "develop", "prerelease": true },
      {"name": "release/*", "prerelease": true},
      {"name": "hotfix/*", "prerelease": true}
    ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
          "@semantic-release/github",
          {
            "assets": [
              {"path": "build/*.zip", "label": "Build"},
              {"path": "docs/*.pdf", "label": "Documentation"}
            ]
          }
    ]
  ]
}